

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.3;
    background-color: #31acf3;
}

.sidebar__icons {
    display: flex;
    flex-direction: column;
    flex: 0.3;
}

.sidebar__people {
    flex: 1;
}

.skype {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.skype::before {
    content: '';
    display: block;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c3/Microsoft_Skype_for_Business_logo.svg');
    width: 90px;
    height: 90px;
    background-size: 90px 90px;
}


.interactions {
    display: flex;
    justify-content: space-evenly;
}

.interactions > .MuiIconButton-root {
    color: white;
}
.statuses {
    display: flex;
    justify-content: space-around;
    margin: 1em 3em;
}

.person__message {
    font-weight: 100;
    opacity: .8;
    text-overflow: ellipsis;
    font-size: .8em;
    letter-spacing: 0.3px;
}

.statuses__title {
    color: white;
    opacity: .4;
}

.title--active {
    opacity: 1;
}


.status {
    background-color: #6de201;
    width: 8px;
    height: 8px;
    margin-right: 1em;
    border-radius: 20px;
}

  

@media (max-width: 45em) {
	.sidebar {
        position: absolute;
        width: 100%;
        height: 110vh;
        z-index: 8;
        transition: transform 1s linear;
    }

    .sidebar.hide {
        transform: translateX(-2000px);
    }
}


  


